@using RepoBlog.Models.BaseModels
@using RepoBlog.Models.ViewModels
@model List<BlogIndex>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Monster Blog</h2>

<a href="#">Skriv</a>
@foreach (BlogIndex bi in Model)
{
    <table style="width: 100%; border: 1px black solid" >
        <tr>
            <td><b>@bi.Post.Overskrift</b></td>
        </tr>
        <tr>
            <td style="width: 60%;">@bi.Post.Tekst</td>

            <td>
                @if (bi.Billeder.Count > 0)
                {
                    <img src="../../images/@bi.Billeder[0].Filnavn" class="u-max-full-width"/>
                }
            </td>
        </tr>
        <tr>
            <td></td>
            <td><a href="/Blog/Edit/@bi.Post.ID">Rediger</a>
                <a href="/Blog/Delete/@bi.Post.ID">Slet</a>
                
            </td>
        </tr>
    </table>
}